* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", serif;
}

.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: black 1px solid;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__s1 {
    color: #8f36b2;
}

.navbar__s2 {
    border: black solid 1px;
    width: 60%;
    height: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.navbar__s2-input {
    border: none;
    width: 50%;
    background-color: transparent;
}

.navbar__s2-input:focus {
    border: none;
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    padding: 10%;
    width: 150px;
    right: 0;
    top: 150%;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px black solid;
}

.categories p {
    border: black 1px solid;
    background-color: #8f36b2;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

.categories p:hover {
    transition: 1s;
    background-color: transparent;
    color: purple
}

.Section-image{
    position: relative;
}

.Section-image img{
    width: 100%;
}

.recommended{
    padding:10px;
}

.recommended__desc{
    margin-bottom: 10px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course-card img{
    width: 100%;
    height: 170px;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 10px;
}

.topics__container p{
    border: 2px grey solid;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%
}

.topics__container p:hover{
background-color: lightgray;
}

.popular-section{
    padding: 10px;
    margin-bottom: 20px;
}

.popular__container{
    display: flex;
    gap:10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular-card{
    width: 200px;
    flex-basis: 22%;
}

.popular-desc{
    margin-bottom: 10px;
}

.popular-card img{
    width: 250px;
    height: 150px;
}

.footer{
    padding: 10px;
    background-color: black;
    color: white;
}

.footer__one{
    margin-top: 20px;
    display: flex;
}

.footer__one p{
    padding: 15px;
}

.footer__two{
    padding: 20px;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.section-image__offer{
    position: absolute;
    background-color: white;
    top: 10%;
    left: 10%;
    width: 35%;
    border: black 2px solid;
    padding: 2%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

.menubar {
    display: none;
}

@media screen and (max-width:800px){
    body{
        font-size: 12px;
    }
}

@media screen and (max-width:600px) {
    .navbar__s2,.navbar__s3{
        display: none;
    }

    .menubar{
        display: block;
    }
    .categories{
        display: none;
    }
    .course-card{
        flex-basis: 40%;
    }
}